<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9102173308-6ul3l761m2rhs5ail4mja1qbvjqntjc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9102173308-6ul3l761m2rhs5ail4mja1qbvjqntjc6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>9102173308-1j46rkcghkstuelgnn6gcn11uie8klhq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOFO32wxL62YIsAw1ZRF8RR0n17nOD0Ic</string>
	<key>GCM_SENDER_ID</key>
	<string>9102173308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tagarwal.timeTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-e9410</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-e9410.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9102173308:ios:6258443766e9d8a5dc15f9</string>
</dict>
</plist>